<template>
  <div class="widget has-shadow">
    <div class="box">
      <div class="box-title">
        <h1 class="inline-block">Recent Blocks</h1>
        <div class="btn_grp inline-block flt-rt">
          <a href="#" class="btn btn-green">
            <span>View all blocks</span>
            <i class="ico-ios-arrow-thin-right"></i>
          </a>
        </div>
      </div>
      <div class="box-con">
        <div class="row">
          <div class="col-md-3">
            <div class="rn_blk_con">
              <div class="blkht">
                <span>2133021</span>
              </div>
              <div class="blk-info">
                <div class="inrw">
                  <span>7 Transactions</span>
                  <span>26 seconds ago</span>
                </div>
                <div class="inrw">
                  <span>Harvester</span>
                  <a href="#" class="acnt">NATDRYLUQDU2PAQI5 ...</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rn_blk_con">
              <div class="blkht">
                <span>2133021</span>
              </div>
              <div class="blk-info">
                <div class="inrw">
                  <span>7 Transactions</span>
                  <span>26 seconds ago</span>
                </div>
                <div class="inrw">
                  <span>Harvester</span>
                  <a href="#" class="acnt">NATDRYLUQDU2PAQI5 ...</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rn_blk_con">
              <div class="blkht">
                <span>2133021</span>
              </div>
              <div class="blk-info">
                <div class="inrw">
                  <span>7 Transactions</span>
                  <span>26 seconds ago</span>
                </div>
                <div class="inrw">
                  <span>Harvester</span>
                  <a href="#" class="acnt">NATDRYLUQDU2PAQI5 ...</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rn_blk_con">
              <div class="blkht">
                <span>2133021</span>
              </div>
              <div class="blk-info">
                <div class="inrw">
                  <span>7 Transactions</span>
                  <span>26 seconds ago</span>
                </div>
                <div class="inrw">
                  <span>Harvester</span>
                  <a href="#" class="acnt">NATDRYLUQDU2PAQI5 ...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
